.categoryList{
    margin: 0.5rem;
}
h4{
    font-weight: lighter;
    color: #09C16C;
    border: 1px solid #09C16C;
    padding: 0.3rem;
    font-size: 1.3rem;
}
h4:hover{
    color: white;
    background-color: #09C16C;
}